<div id="{{producto}}" class="card p-5 boton" style="width: 18rem; margin-left: 40px">
  <img src="/img/{{producto}}.png" class="card-img-top" alt="{{producto}}">
  <div class="card-body text-center ">
    <h3 class="card-title">{{producto}}</h3>
  </div>
</div>
